{:title  "Hello Vulkan"
 :script hello.scripts.hello

 :entities [{:id         :triangle
             :renderable {:type    :triangle
                          :shaders {:vert "examples/hello/shaders/triangle.vert"
                                    :frag "examples/hello/shaders/triangle.frag"}}}
            {:id         :logo
             :renderable {:type   :sprite
                          :image  "examples/hello/assets/images/hello.png"
                          :color  [1.0 1.0 1.0 1.0]
                          :width  0.4
                          :height 0.4}}
            {:id    :beep
             :audio {:file "examples/hello/assets/audio/beep.wav"
                     :loop false
                     :gain 0.5}}
            {:id         :label
             :renderable {:type  :text
                          :font  "examples/assets/fonts/mono.fnt"
                          :text  "Hello Vulkan"
                          :x     -0.9
                          :y     0.0
                          :size  0.12
                          :color [1.0 1.0 1.0 1.0]}}]}
