{:title  "Hello Vulkan"
 :script hello.scripts.hello

 :entities [{:id         :triangle
             :renderable {:type    :triangle
                          :shaders {:vert "examples/hello/shaders/triangle.vert"
                                    :frag "examples/hello/shaders/triangle.frag"}}}]}
